<header>
  <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row">
    <div class="container justify-content-center">
        <a class="navbar-brand mr-0 mr-md-2" routerLink="/"> Simple Weather </a>
    </div>
    <div class="container text-center justify-content-center"> 
      <div class="navbar-nav-scroll " id="navbarNavAltMarkup">
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-item nav-link active btn btn-menu ripple" routerLink="/" > Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link btn btn-menu ripple" routerLink="/setting"> Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<br>
<router-outlet></router-outlet>

